.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: #ea6f5a!important;
}

.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=true] {
    color: #ea6f5a!important;
}

.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #333!important;
    pointer-events: auto;
}

.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
    color: #ea6f5a!important;
    background-color: transparent;
}